// main the second part began
.Our-values__control {
    text-align: center;
    margin-top: 180px;

}

.Our-values {
    margin-left: 33px;
}

.control__avatar {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 50px;
}

.avatar__img {
    border-radius: 50%;

}

.control__content-icons:hover {
    transition: all 1s ease;
    transform: scale(1.1);
}

.control__span {
    color: #495567;
    font-size: 50px;
}

.control__content-h2 {
    color: #495567;
}


.control {
    display: flex;
    justify-content: center;
    gap: 73px;
    margin-top: -45px;
}

// main the second part is over
.main__pagination {
    display: flex;
    margin-left: 30px;
    background-color: #F2F5F9;
    height: 110px;
    margin-bottom: 25px;
}

.main__inner {
    margin-top: 120px;
}

.main__pagination-btn-h2 {
    color: #495567;
    padding: 0px 0px 0px 50px;
}

.main__pagination-btn-paragrf {
    padding: 0px 0px 5px 50px;
}

.main__pagination-btn {
    background: #FCB72B;
    width: 180px;
    height: 53px;
    border: none;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
}

.main__pagination-btn:hover {
    transition: all 1s ease;
    background-color: #c49434;
}

.main__pagination-button {
    margin-left: 620px;
    margin-top: 14px;
}

.main__pagination-inner-one {
    width: 350px;
    height: 60px;
}

.main__pagination-button-one {
    width: 250px;
    height: 60px;
    margin-left: 530px;
}

.main__pagination-inner {
    width: 250px;
    height: 50px;
}

.wrap__content-icon {
    position: absolute;
    padding: 280px 0px 0px 450px;

}

// the main third part began

// the main third part is over